.experiences-section {
  display: flex;
  flex-direction: column;
}

.experiences {
  background-color: var(--primary-color);
  color: var(--text-color-inverse);
}

.experiences__wave {
  position: relative;
  width: 100%;
  top: 0.1rem;
}

.experiences__wave--180deg {
  transform: rotate(180deg);
  top: -0.1rem;
}

.experiences__title {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin: 0.5em;
}

.experiences__experience {
  padding: 1em;
  max-width: 30rem;
  margin: 0 auto;
}

.experiences__date {
  font-weight: bold;
  color: var(--secundary-color);
}

.experiences__company {
  font-size: 1.5rem;
  font-weight: bold;
}

.experiences__position {
  font-weight: 500;
  margin: 0.5em 0;
  color: var(--secundary-color);
}

.experiences__description {
  margin: 0.5em 0;
}

@media (min-width: 800px) {
  .experiences__title {
    font-size: 3rem;
    margin: 1em;
  }
  .experiences__grid {
    display: grid;
    grid-template-columns: auto 0.2rem auto;
    gap: 0 1rem;
    padding: 1rem;
    justify-content: center;
    max-width: 1024px;
    margin: 0 auto;
  }
  .experiences__experience {
    padding: 0;
  }
  .experiences__experience--text-right {
    text-align: right;
  }
  .experiences__date {
    font-size: 1.5rem;
  }
  .experiences__company {
    font-size: 2rem;
  }
  .experiences__position {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1em 0;
  }
  .experiences__description {
    font-size: 1.5rem;
    margin: 1em 0;
  }
  .experiences__line {
    background-color: var(--text-color-inverse);
    position: relative;
  }
  .experiences__line::before, .experiences__line::after {
    content: '';
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: var(--text-color-inverse);
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .experiences__line::after {
    top: 100%;
    z-index: 1;
  }
}